name: CI
on: [pull_request]

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      # - name: Run Lighthouse CI
      #   run: |
      #     npm install -g @lhci/cli@0.13.x
      #     lhci autorun
      - name: Run Local Action
        uses: ./
        # with:
        #   secret: ${{secrets.GITHUB_TOKEN}}
        #   outputDir: ./lhci_reports
